<?xml version="1.0" encoding="utf-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>Pharmacology</ShortName>
  <Description>farmakológia, farmakoterápia, pharmacology, oktatás, orvosképzés, kutatás, biológus</Description>
  <InputEncoding>UTF-8</InputEncoding>
  <Image type="image/vnd.microsoft.icon" width="16" height="16">http://pharmacology.med.unideb.hu/templates/constructionco-qjt/favicon.ico</Image>
  <Url type="application/opensearchdescription+xml" rel="self" template="http://pharmacology.med.unideb.hu/index.php/component/search/?Itemid=472&amp;format=opensearch"/>
  <Url type="text/html" template="http://pharmacology.med.unideb.hu/index.php?option=com_search&amp;searchword={searchTerms}&amp;Itemid=255"/>
</OpenSearchDescription>
